<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a md-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a md-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a md-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your feedback</h3>
    <div *ngIf="feedback" [@expand]>
      <h3>Your Submission</h3>
      <p>First Name: {{feedback.firstname}}</p>
      <p>Last Name: {{feedback.lastname}}</p>
      <p>Tel. Number: {{feedback.telnum}}</p>
      <p>Email: {{feedback.email}}</p>
      <p>Contact You?: {{feedback.agree}}</p>
      <p>How?: {{feedback.contacttype}}</p>
      <p>Feedback: {{feedback.message}}</p>
    </div>
    <form novalidate *ngIf="!submitting && !errMess && !feedback" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" [@expand]>
      <p>
        <md-input-container class="half-width" dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="firstname" placeholder="First Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.firstname)">
                {{formErrors.firstname}}</span>
          </md-hint>
        </md-input-container>
        <md-input-container class="half-width" dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.lastname)">
                {{formErrors.lastname}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="half-width" dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <md-hint>
            <span [hidden]="!(formErrors.telnum)">
                {{formErrors.telnum}}</span>
          </md-hint>
        </md-input-container>
        <md-input-container class="half-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="email" placeholder="Email" type="email" email required>
          <md-hint>
            <span [hidden]="!(formErrors.email)">
                {{formErrors.email}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <table class="form-size">
        <td>
          <md-slide-toggle formControlName="agree">May we contact you?</md-slide-toggle>
        </td>
        <td>
          <md-select placeholder="How?" formControlName="contacttype">
            <md-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </md-option>
          </md-select>
        </td>
      </table>
      <p>
        <md-input-container class="full-width">
          <textarea mdInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
    <div *ngIf="submitting" [@expand]>
        <h4><b>Submitting Form</b></h4>
        <md-spinner></md-spinner>
    </div>
    <div *ngIf="errMess" [@expand]>
          <h1 style="color: #484848"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64" width="64"><circle cx="31.9" cy="32.1" r="29.9" fill="#ffdd67"/><g fill="#664e27"><circle cx="43.7" cy="30" r="5"/><circle cx="20.2" cy="30" r="5"/></g><path d="m32 2c-6 0-11.7 1.8-16.4 4.9 17.7 9.1 33.2 23 41.7 41.2 3-4.6 4.7-10.2 4.7-16.1 0-16.6-13.4-30-30-30" fill="#cccfd4"/><path d="m32.9 3.6c-5.5 0-10.6 1.6-14.9 4.4 16.7 7.7 31.6 19.3 39.4 35.8 3.1-5.8 2.9-12.9 2.9-12.9-.1-15.1-12.3-27.3-27.4-27.3" fill="#fff"/><path d="m15.8 6.7c14.5-.1 28.9 3.3 41.9 9.8 2.7 4.5 4.3 9.8 4.3 15.5 0 .5 0 .9 0 1.4-17.2-10.6-37.4-15.3-57.5-13.4 2.4-5.5 6.4-10.1 11.3-13.3" fill="#cccfd4"/><path d="m17 8.1c13.6-.1 27.6 4 39.8 9.6 3.3 6.5 3.5 11.9 3.5 11.9-16.5-8.7-35.4-13.1-52.9-11.4 0 0 4.2-7.8 9.6-10.1" fill="#fff"/><path d="m40.3 42.8c-5.8-1.5-12-.4-16.9 3-1.2.9 1.1 4 2.3 3.2 3.2-2.3 8.4-3.8 13.7-2.4 1.3.3 2.4-3.3.9-3.8" fill="#664e27"/></svg> Oops!</h1>
          <h3 style="color: #484848">We can't seem to submit this form. Please refresh this page and try again later.</h3>
          <h4 style="color: #767676">{{errMess}}</h4>
    </div>
  </div>

</div>